
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
}

.div {
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 800px;
  margin: auto;
}

.foot {
  margin: 10px;
  border-left: solid;
  border-width: 2px;
  padding: 30px;
}

.center {
  margin:auto;
}
